my_workflow/telegram/telegram_voice.json
{
  "nodes": [
    {
      "id": "1",
      "parameters": {
        "updateFields": {
          "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
          "text": "={{$json[\"text\"]}}"
        }
      },
      "name": "Ответ Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [860, 400],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-credentials-id",
          "name": "My Telegram Bot"
        }
      }
    },
    {
      "id": "2",
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 400],
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-credentials-id",
          "name": "My Telegram Bot"
        }
      }
    },
    {
      "id": "3",
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      file_id: $json[\"message\"][\"voice\"][\"file_id\"],\n      chat_id: $json[\"message\"][\"chat\"][\"id\"]\n    }\n  }\n];"
      },
      "name": "Извлечь file_id",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 400]
    },
    {
      "id": "4",
      "parameters": {
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/getFile",
        "queryParametersUi": {
          "parameter": [
            {
              "name": "file_id",
              "value": "={{$json[\"file_id\"]}}"
            }
          ]
        },
        "responseFormat": "json"
      },
      "name": "Получить file_path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "id": "5",
      "parameters": {
        "url": "https://api.telegram.org/file/bot{{TELEGRAM_TOKEN}}/{{$json[\"result\"][\"file_path\"]}}",
        "responseFormat": "file",
        "dataPropertyName": "oggFile"
      },
      "name": "Скачать .ogg файл",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [600, 500]
    },
    {
      "id": "6",
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "sendBinaryData": true,
        "binaryPropertyName": "oggFile",
        "headers": {
          "Content-Type": "multipart/form-data"
        },
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "model",
              "value": "whisper-1"
            }
          ]
        }
      },
      "name": "Whisper API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [740, 500],
      "credentials": {
        "httpBasicAuth": {
          "id": "openai-api-key",
          "name": "OpenAI Whisper"
        }
      }
    },
    {
      "id": "7",
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      chat_id: $node[\"Извлечь file_id\"].json[\"chat_id\"],\n      text: $json.text || \"Не удалось распознать речь.\"\n    }\n  }\n];"
      },
      "name": "Подготовка ответа",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [860, 500]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Извлечь file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлечь file_id": {
      "main": [
        [
          {
            "node": "Получить file_path",
            "type": "main",
            "index": 0
          },
          {
            "node": "Скачать .ogg файл",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить file_path": {
      "main": [
        [
          {
            "node": "Скачать .ogg файл",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скачать .ogg файл": {
      "main": [
        [
          {
            "node": "Whisper API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper API": {
      "main": [
        [
          {
            "node": "Подготовка ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка ответа": {
      "main": [
        [
          {
            "node": "Ответ Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "name": "Telegram Voice to Text",
  "version": 1
}
